a
.navbar, .navbar-expand-lg, .navbar-light, .bg-light{
    background-color: black;
}
.header{ background-color: black
}

body{
    background-color:black;

}

.footer {
    background-color:red;
}


